<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <input type="number" value="3" v-model="number">
        <button v-on:click="calFnc">출력</button>
        <ul>
            <li v-for="(answer, index) in answers">{{number}}*{{index+1}}={{answer}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                number:0,
                answers:[],

            },
            methods:{
                calFnc(){
                    this.answers.pop();
                    for(let i=1;i<10;i++){
                        this.answers.push(this.number*i);
                    }
                }
            }
        })
    </script>
</body>
</html>