<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-on:change="numberChange" ><!--v-model="message"-->
        <p>입력값: {{message}}</p>
        <ul>
            <li v-for="num in filterNum">{{num}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el:'#app',
            data:{
                message:false,
                numbers:[1,2,3,4,5,6,7]
            },
            methods:{
                numberChange: function(){
                    //this.message = this.message == 'Y'? 'N' : 'Y'
                    this.message =!this.message;
                }
            },
            computed:{
                filterNum: function(){
                    var message = this.message
                    return this.numbers.filter(function(item, idx, ary){
                        if(message == true){
                            return item %2 ==0;
                        } else {
                            return item %2 !=0;
                        }
                    })
                }
            }
        });
    </script>
</body>
</html>